html,
body {
    height: 100vh;
    margin: 0;
}

h1 {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.container .content {
    display: flex;
    flex: 1;
}

.bar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    font-family: monospace;
    align-items: center;
    width: 100%;
}

.bar.top {
    flex-direction: column;
}

.bar.bottom {
    flex-direction: row;
}

.panel {
    display: flex;
    flex: 1;
}

.panel>form {
    display: flex;
    flex: 1;
}

.regex {
    display: flex;
    flex-grow: 1;
    flex-basis: 30%;
    height: 20px;
    align-items: center;
    margin: 6px;
    background-color: lightsteelblue;
    padding: 6px 10px;
}

.regex input {
    font-family: monospace;
}

.regex .in,
.regex .out {
    width: 50%;
}

.regex:nth-child(1n + 4) {
    flex-basis: 20%;
}


/*
.regex .in,
.regex .out {
    width: 200px;
}

.regex:nth-child(1n + 4) .in,
.regex:nth-child(1n + 4) .out {
    width: 50px;
}
*/

.regex .check,
.regex .in {
    margin-right: 10px;
}

.regex .check {
    height: 16px;
    width: 16px;
}