html, body {
    height: 100vh;
    margin: 0;
}
h1 {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .content {
        display: flex;
        flex: 1;
    }
}

.bar {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    // border: 1px solid grey;
    font-family: monospace;
    align-items: center;

    &.top {
        flex-direction: column;
    }
    &.bottom {
        flex-direction: row;
    }
}

.panel {
    display: flex;
    flex: 1;

    & > form {
        display: flex;
        flex: 1;
        //margin: 20px;
    }
}

.regex {
    display: flex;
    height: 20px;
    align-items: center;
    margin: 15px 10px;

    input {
        font-family: monospace;
    }

    .in, .out {
        width: 200px;
    }

    .check, .in {
        margin-right: 10px;
    }

    .check {
        height: 16px;
        width: 16px;
    }
}