html * {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#app {
  background: url("https://www.toptal.com/designers/subtlepatterns/patterns/email-pattern.png");
  font-family: sans-serif;
  font-size: 16px;
  --success: darkseagreen;
  --disabled: darkgrey;
  --primary: navy;
  --primary-contrast: white;
  --secondary: steelblue;
}

h1, h2 {
  background-color: var(--primary-contrast);
  line-height: 2rem;
  margin: 0 auto;
  padding: .1rem 1rem;
}

h1 {
  color: var(--primary);
}

h2 {
  color: var(--secondary);
  font-weight: normal;
  text-decoration: underline;
}

.c {
  text-align: center;
}

.row, .col {
  display: flex;
}

.col {
  flex-direction: column;
}

.row.c {
  justify-content: center;
}

.grow {
  flex-grow: 1;
}

.h50 {
  height: 50%;
}

.w50 {
  width: 50%;
}

.h100 {
  height: 100%;
}

.w100 {
  width: 100%;
}

.p {
  padding: 1rem;
}

.m {
  margin: 1rem;
}

.pt {
  padding-top: 2rem;
}

.mt {
  margin-top: 2rem;
}

.mts {
  margin-top: 1rem;
}

.ml {
  margin-left: 1rem;
}

button.round {
  background-color: var(--secondary);
  border: none;
  border-radius: 100%;
  color: var(--primary-contrast);
  cursor: pointer;
  font-family: monospace;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.3rem;
  width: 2.5rem;
}

textarea {
  padding: .7rem;
}

ul.rules {
  display: flex;
  flex-wrap: wrap;
  list-style-type: decimal-leading-zero;
  max-height: 50%;
  overflow-x: hidden;
  overflow-y: visible;
}

ul.rules li {
  flex-grow: 1;
  min-width: 300px;
}

.rule {
  align-items: baseline;
  background-color: var(--disabled);
  margin-bottom: .4rem;
  margin-right: 2.5rem;
  opacity: .5;
  padding: .3rem .4rem;
  transition: opacity .3s, background-color .3s;
}

.rule[data-rule-active="true"] {
  background-color: var(--success);
  opacity: 1;
}

.rule input[type="checkbox"][name="enable"] {
  align-self: center;
  cursor: pointer;
  display: inline-block;
  height: 1.4rem;
  vertical-align: middle;
  width: 1.4rem;
}

.rule input[type="text"] {
  flex-grow: 1;
  padding: .3rem .4rem;
}

.rule input[type="checkbox"][name="enable"], .rule input[type="text"][name="replace-in"] {
  margin: 0 .3rem 0 0;
}
